body {
  color: 40514E;
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-sans-serif;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

.Intro {
  width: 30%;
  margin: auto;
}

.top_container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.profile-picture {
  border-radius: 50%;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skills-logo {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.boxing-logo {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.profile-picture {
  width: 15%;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a:hover{
  color: #EAF6F6;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.btn {
  background: #3ff29e;
  background-image: -webkit-linear-gradient(top, #3ff29e, #15b0a3);
  background-image: -moz-linear-gradient(top, #3ff29e, #15b0a3);
  background-image: -ms-linear-gradient(top, #3ff29e, #15b0a3);
  background-image: -o-linear-gradient(top, #3ff29e, #15b0a3);
  background-image: linear-gradient(to bottom, #3ff29e, #15b0a3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #098fe3;
  background-image: -webkit-linear-gradient(top, #098fe3, #050b0f);
  background-image: -moz-linear-gradient(top, #098fe3, #050b0f);
  background-image: -ms-linear-gradient(top, #098fe3, #050b0f);
  background-image: -o-linear-gradient(top, #098fe3, #050b0f);
  background-image: linear-gradient(to bottom, #098fe3, #050b0f);
  text-decoration: none;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 ;
}
